<div class="header">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
			<div class="logo"></div>
			<div class="auth">
				<a>SIGN UP </a> | 
				<a data-toggle="modal" href='#modal-id'> LOG IN</a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>
				Something went wrong.
			</h2>
			<h4>
				--Insert Error Here--
			</h4>
		</div>
	</div>
</div>