<div class="header">
	<% include ./partials/header %>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>
				Something went wrong.
			</h2>
			<h4>
				--Insert Error Here--
			</h4>
		</div>
	</div>
</div>