<div class="header-big">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
			<div class="logo"></div>
			<div class="auth">
				<a>SIGN UP </a> | 
				<a data-toggle="modal" href='#modal-id'> LOG IN</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1 class="h1-white">FIND HOME IN ANOTHER CITY</h1>
			<h3 class="h3-white">Find your neighborhood's closest match in a new city</h3>
		</div>		
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
			<form class="input-container" action="/results" method="POST" role="form">
				<input class="field-over-media" name="address" type="text" placeholder="Address, City, State ZIP">
				<input class="field-over-media" name="destination" type="text" value="Seattle, WA" readonly>
				<button class="btn btn-primary submit" type="submit">FIND MY NEIGHBORHOOD</button>
			</form>
		</div>
	</div>
</div>
<div class="middle">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
			<image class="thumb-middle" src="/img/NeighborhoodImage.png">
			<h2>Move to a neighborhood similar to yours.</h2>
			<p>Letting go is hard, especially when leaving a place that you or your family have grown to love.  Lorem Bacon ipsum dolor amet boudin brisket pork chop, pork kevin cow strip steak bresaola pastrami short ribs beef ribs chicken bacom.</p>
			<button class="btn btn-default">HOW IT WORKS</button>
		</div>
	</div>
</div>
<div class="middle gray">
	<div class="row text-centered">
		<h2>A new neighborhood</h2>
		<p>These people found love a second time around.</p>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
			<div class="image-container">
				<image class="thumb" src="/img/Rectangle1.png">
				<image class="thumb" src="/img/Rectangle2.png">
				<image class="thumb" src="/img/Rectangle3.png">
			</div>
		</div>
	</div>
</div>

<!-- <div class="navbar">
	<div class="nav">START OVER</div>
	<div class="nav">OUR PICKS</div>
	<div class="nav">FAVORITES</div>
	<div class="nav">LOG IN</div>
</div>

<div class="form_container">
	<form action="/results" method="POST" role="form">
		<legend>Where you're from.</legend>

		<input type="text" name="address" placeholder="Street Address, City, State, Zip">
	
		<legend>Where you're going.</legend>
	
		<select name="newCity">
			<option value="Seattle">Seattle</option>
		<select>
		<select name="newState">
			<option value="Washington">WA</option>
		<select>

		<button type="submit">Submit</button>
	</form>
</div> -->

