<div class="navbar">
	<div class="nav">START OVER</div>
	<div class="nav">OUR PICKS</div>
	<div class="nav">FAVORITES</div>
	<div class="nav">LOG IN</div>
</div>

<div class="form_container">
	<form action="/auth/signup" method="POST" role="form">
		<legend>Form title</legend>

		<label for="">label</label>
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button type="submit">Submit</button>
	</form>
</div>