<div class="header">
	<% include ./partials/header %>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-md-offset-4">	
			<div class="form_container">
				<form action="/auth/signup" method="POST" role="form">
					<legend>Please enter the required fields</legend>

					<input class="signup-field" type="text" name="email" placeholder="Email">
					<input class="signup-field" type="password" name="password" placeholder="Password">
					<input class="signup-field" name="address" type="text" placeholder="Address, City, State ZIP">
					<input class="signup-field" name="destination" type="text" value="Seattle, WA" readonly>

					<button class="btn btn-primary" type="submit">Sign Up</button>
				</form>
			</div>	
		</div>
	</div>
</div>